{% extends 'layout.html' %}
{% block css %}
<link rel="stylesheet" href="/static/css/admin.css" type="text/css" />
{% endblock %}

{% block menu %}
<div class="choices">
  <div style="margin-bottom:3px;">
    <a href="/store/admin/choose/0"{% if conf == 0 %} class="active"{% endif %}>시카고</a>
  </div>
  <div>
    <a href="/store/admin/choose/1"{% if conf == 1 %} class="active"{% endif %}>인디애나폴리스</a>
  </div>
</div>

{% endblock %}

{% block body %}

<div style="margin-bottom:20px">{% if conf == 0 %}시카고{% else %}인디{% endif %} 컨퍼런스</div>

<div class="sub">
입력하기 - 
</div>

<form action="/store/admin/remove" method="POST" id="removeform">
  <input type="hidden" name="id" id="removeid" value="">
</form>

<form action="/store/admin/add" method="POST">

  <input type="hidden" name="conf" value="{{conf}}">

  <select name="type">
    <option value="1">전체집회 설교</option>
    <option value="2">세미나 강의</option>
    <option value="3">간증</option>
    <option value="4">JJ 수양회</option>
    <option value="5">주제트랙</option>
    <option value="6">주제곡</option>
    <option value="7">Journey트랙</option>
  </select>

  <div style="margin-left:20px;">

    <div class="row">
      <input type="text" class="span9" name="title" placeholder="제목">
      <input type="text" class="span5" name="speaker" placeholder="강사">
      <input type="text" class="span5" name="file" placeholder="녹음파일">
      <input type="text" class="span5" name="ppt" placeholder="PPT파일">
      <input type="text" class="span5" name="note" placeholder="강의안파일">
      <textarea name="desc" class="span10" style="height:100px;" placeholder="설명"></textarea>
    </div>

  </div>

  <button class="btn btn-primary btn-large"><i class="icon-chevron-right icon-white"></i> 입력하기</button>
</form>

<table class="table table-condensed table-striped">
<thead>
  <tr>
    <th>파일</th>
    <th>분류</th>
    <th style="width:460px;">강의</th>
    <th>관리</th>
  </tr>
</thead>
<tbody>
{% for recording in recordings %}
<tr>
  <td>{{recording.filename}}</td>
  <td>{{recording.category.description}}</td>
  <td>
    <a href="#{{ recording.id }}" class="detail recordtitle">{{ recording.title }} - {{ recording.speaker }}</a>
    <div class="hide" id="desc{{recording.id}}" style="margin-top:5px;">
    <form action="/store/admin/update/{{recording.id}}" method="POST">
      <input type="text" name="title" style="width:95%;" placeholder="제목" value="{{ recording.title }}">
      <input type="text" name="filename" style="width:95%;" placeholder="녹음파일" value="{{ recording.filename }}">
      <input type="text" name="ppt" style="width:95%;" placeholder="PPT 파일" value="{{ recording.ppt }}">
      <input type="text" name="note" style="width:95%;" placeholder="Note 파일" value="{{ recording.note }}">      
      <textarea name="description" style="width:95%;height:100px;" placeholder="Description">{{ recording.description }}</textarea>
      <button type="submit" class="btn btn-mini btn-warning pull-right" style="margin:2px 15px 10px auto;">update</button>

    </form>
    </div>
  </td>
  <td><a href="#{{ recording.id }}" class="remove btn btn-mini">remove</a></td>
</tr>
{% endfor %}
</table>

{% endblock %}

{% block setupjs %}

$('.remove').click(function(e) {
  e.preventDefault();
  var target = e.target;
  var ids = $(e.target).attr('href').split('#');
  $('#removeid').val(ids[1]);
  $('#removeform').submit();
});

$('.detail').click(function(e) {
  e.preventDefault();
  var target = e.target;
  var ids = $(e.target).attr('href').split('#');
  $('#desc'+ids[1]).toggle();
});

{% endblock %}
