{% extends 'layout.html' %}
{% block css %}
{% endblock %}

{% block body %}

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=192784600743421";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="row-fluid well">

    <div class="span6">

      <div style="margin-bottom:20px;">
        {% if error %}
        <div class="alert alert-danger">
          {% if reason == 'toomany' %}
            현재 사용하시는 아이디로 10곳 이상의 장소에서 접속한 기록이 있어 계정을 Suspend 하였습니다.
            <div style="margin-top:10px;">store@kostausa.org 로 문의주시기 바랍니다. </div>
          {% else %}
            로그인 정보를 찾을 수 없었습니다.
          {% endif %}
        </div>
        {% endif %}
      </div>

      <form class="form-horizontal" action="/store/login" method="POST">
        <div class="control-group">
          <label class="control-label" for="email">이메일</label>
          <div class="controls">
            <input type="text" class="input-large" placeholder="Email" name="email" id="email">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="pass">패스워드</label>
          <div class="controls">
            <input type="password" class="input-large" placeholder="Password" name="pass" id="pass">
          </div>
        </div>

        <div class="control-group">
          <button type="submit" class="btn btn-info btn-large pull-right">로그인</button>
        </div>

        <div class="newmember pull-right">
          <a href="/store/newmember">아직 계정이 없습니다 &mdash; 가입하기</a>
        </div>

        <!-- twitter button -->
        <div style="margin-top:250px;">

          <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://kostausa.org/store" data-text="2014 KOSTA/USA 온라인 스토어 -" data-via="kostausa" data-lang="en">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        </div>

        <!-- fb like button -->
        <div style="margin-top:10px">
          <div class="fb-like" data-href="https://kostausa.org/store" data-send="true" data-width="400" data-show-faces="true"></div>
        </div>

      </form>

    </div>
    <div class="span6">
      <a href="http://kostausa.org"><img src="/static/img/poster-2014.png" style="width:330px;" class="pull-right" border="0"></a>
    </div>

  </div>

{% endblock %}
