{% extends 'layout.html' %}
{% block css %}
{% endblock %}

{% block menu %}
<div class="remains">
  <i class="icon-signal"></i> 
  {% if credit.unlimited %}
  무제한
  {% else %}
  {{ credit.total }} 포인트
  {% endif %}
</div>
      
<ul class="nav nav-tabs nav-stacked">
  <li class="active"><a href="/store/{{conf.path}}">강의/설교 리스트</a></li>
  <li ><a href="/store/{{conf.path}}/points">포인트 충전/관리</a></li>
  <li><a href="/store/{{conf.path}}/info">질문/연락</a></li>
</ul>
{% endblock %}

{% block body %}

<div style="margin-bottom:50px;">
  <div class="conf">
    {{ conf.name }} Conference
  </div>

  <div class="pull-right">
    {{user.name}} {{user.email}} | <a href="/store/{{conf.path}}/logout">logout</a>
  </div>
</div>

<div class="listing">
<h3>세미나 리스트</h3>
<table class="table table-condensed table-striped">
<tbody>
{% for recording in recordings %}
  <tr>
    <td>
      <a href="#" class="title">{{recording.title}}</a> 
    </td>
    <td style="width:110px;">
      {{ recording.speaker }}
    </td>
    <td style="width:200px;text-align:right;">
      &nbsp;-
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}
