{% extends 'layout.html' %}
{% block css %}
{% endblock %}

{% block menu %}
<div class="remains">
  <i class="icon-signal"></i> 
  <span id="points">
  {% if credit.unlimited %}
  무제한
  {% else %}
  {{ credit.total }} 포인트
  {% endif %}
  </span>
</div>
      
<ul class="nav nav-tabs nav-stacked">
  <li class="active"><a href="/store">강의/설교 리스트</a></li>
  <li ><a href="/store/points">포인트 충전/관리</a></li>
  <li><a href="/store/info">질문/연락</a></li>
</ul>

Links
<ul class="nav nav-tabs nav-stacked">
  <li><a href="http://kostausa.org/support/">코스타 후원하기</a></li>    
</ul>

<div id="social">
  <a href="http://twitter.com/kostausa"><img src="/static/img/twitter.png" alt="twitter" style="width:50px" border="0"></a>
  <a href="http://facebook.com/kostausa"><img src="/static/img/fb.png" alt="twitter" style="width:30px" border="0"></a>
</div>

{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#chicago" data-toggle="tab">Chicago</a>
  </li>
  <li><a href="#indianapolis" data-toggle="tab">Indianapolis</a></li>
</ul>

<div class="tab-content">

{% for conf in inventory %}
<div class="tab-pane{% if conf == 'chicago' %} active{% endif %}" id="{{conf}}">


<div style="margin-bottom:20px;">

  <div style="text-align:right;">
    {{user.name}} {{user.email}} | <a href="/store/logout">logout</a>
  </div>


</div>

<div class="listing">
{% for year in inventory[conf] %}

  <div class="year-pane y{{year}}{% if not year == currentyear %} hide{% endif %}">

  {% for category in inventory[conf][year].keys() %}

    <h3>{{categories[category]}}</h3>
    <table class="table table-condensed table-striped">
    <tbody>
    {% for recording in inventory[conf][year][category] %}
      <tr>
        <td>
          <a href="#" data-target="{{recording.id}}" class="buy title">{{recording.title}}</a> 

        </td>
        <td style="width:150px;">
          {{ recording.speaker }}
        </td>
        <td style="width:130px;text-align:right;" id="opt{{recording.id}}">
          {% if credit.unlimited or recording.id in owned %}
            <div class="options">
              
              {% if recording.ppt != '': %}          
              <button class="btn btn-mini btn-info slide"  data-loading-text="Slide" data-material="slide" data-id="{{recording.id}}">Slide</button>
              {% endif %}

              {% if recording.note != '': %}
              <button class="btn btn-mini btn-info note" data-loading-text="Note" data-material="note" data-id="{{recording.id}}">Note</button>
              {% endif %}
              
              <button class="btn btn-mini btn-primary mp3" data-loading-text="MP3" data-material="mp3" data-id="{{recording.id}}">MP3</button>    
            </div>
          {% else %}
          <span class="preview">
            
            {% if recording.ppt != '' %}
            <i class="icon-picture"></i>
            {% endif %}

            {% if recording.note != '' %}
            <i class="icon-file"></i>
            {% endif %}
            
            <i class="icon-headphones"></i>
          </span>
          <button data-target="{{recording.id}}" class="buy btn btn-mini"><i class="icon-search"></i></button>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>

  {% endfor %}
  </div>

{% endfor %}
</div>

</div>

{% endfor %}
</div>

<div class="modal hide" id="purchase"></div>

{% endblock %}

{% block js %}
<script type="text/javascript">
var Store = {};

Store.context = {
  "ios" : {% if ios: %}true{% else %}false{% endif %}
};

Store.purchase = (function() {
  var recording = {
    "detail": function(id) {
      $.ajax({
        "url" : '/store/focus/'+id,
        "dataType": 'json',
        "success": modalbox.view,
        "error": function(data) {
          alert('fail');
        }
      });
    },
    "update": function(data) {
      if (!(data && data.result)) {
        var msg = "오류가 있었습니다";
        switch (data.reason) {
          case 'exists':
            msg = "이미 구입하신 강의입니다";
            break;

          case 'credit':
            msg = "사용하실 수 있는 포인트가 없습니다";
            break;

          case 'auth':
          case 'invalid':
          default:
            msg = "오류가 있었습니다. 다시 한번 시도해 주세요";
            break;
        }
        $('.status')
          .html(msg)
          .slideDown('fast');

        setTimeout(function() {
          $('.status').slideUp('fast');
        }, 3000);
        return false;
      }

      var _o = Hogan.compile($('#_template-option').html());
      $('#opt'+data.id).html(_o.render({
        "id"  : data.id,
        "ppt" : data.ppt,
        "note" : data.note
      }));

      if (!data.unlimited) {
        $('#points').html(
          data.total + ' 포인트'
        );
      }

      $('.modal').modal('hide');
    }
  };

  var modalbox = {
    "view" : function(data) {
      if (!(data && data.result)) {
        return false;
      }

      data.paragraphs = [];
      for (var i in data.description) {
        var paragraph = data.description[i];
        if (paragraph == '') {
          continue;
        }
        data.paragraphs.push(paragraph);
      }

      if (data.ppt == '') {
        data.ppt = false;
      }

      if (data.note == '') {
        data.note = false;
      }

      data.thumbwidth = 120;
      if (!data.thumbdefault) {
        data.thumbwidth = 200;
      }
      
      data.ios = Store.context.ios;

      var _m = Hogan.compile($('#_template-modal').html());            
      $('.modal').html(
        _m.render(data)
      );  

      $('#purchase').modal();
      return false;          
    },
    "submit": function(id) {
      $.ajax({
        "type": 'POST',
        "url" : '/store/buy/'+id,
        "dataType": 'json',
        "success": recording.update,
        "error": function(data) {
          return false;
        }
      });
    }
  };

  var s3 = {
    "delayreset": function(target) {
      setTimeout(function() {
        $(target).button('reset');
      }, 1000);
    },
    "download" : function(id, material, e) {
      $(e.currentTarget).button('loading');
      var _self = this;

      $.ajax({
        "url" : '/store/download/'+material+'/'+id,
        "dataType": 'json',
        "success": function(data) {
          _self.delayreset(e.currentTarget);
          if (!(data && data.result)) {
            return false;
          }

          document.location = data.url;
        },
        "error": function(data) {
          _self.delayreset(e.currentTarget);
        }
      });
    }
  };

  return {
    "setup": function() {

      $('#purchase').on('click', '.purchase', function(e) {
        e.preventDefault();
        var id = $(e.currentTarget).data('target');
        modalbox.submit(id);
      });

      $('.buy').click(function(e) {
        e.preventDefault();
        var id = $(e.currentTarget).data('target');
        recording.detail(id);       
      });

      $('.listing').on('click', '.note, .slide, .mp3', function(e) {
        e.preventDefault();
        var id = $(e.currentTarget).data('id');
        var material = $(e.currentTarget).data('material');
        s3.download(id, material, e);
      });

    }
  };
})();
</script>
<script type="text/html" id="_template-modal">
{% raw %}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>{{title}}</h3>
  <div style="font-size:1.2em">&mdash; {{speaker}}</div>
</div>
<div class="modal-body">

  <img src="{{thumbnail}}" class="thumb" style="width:{{thumbwidth}}px;">

  {{#paragraphs}}
    <p>{{.}}</p>
  {{/paragraphs}}

  <div style="text-align:right;">

    {{^isstudy}}
    <span class="label label-info"><i class="icon-headphones icon-white"></i> MP3</span>
    {{/isstudy}}
    
    {{#ppt}}
      <span class="label label-info"><i class="icon-picture icon-white"></i> 슬라이드 PDF</span>
    {{/ppt}}
    
    {{#note}}
      <span class="label label-info"><i class="icon-file icon-white"></i> 강의안 PDF</span>
    {{/note}}

    {{#isstudy}}
    <span class="label label-info"><i class="icon-file icon-white"></i> 교재 Booklet</span>
    {{/isstudy}}
    
    <div style="margin-top:15px;">
      가격: 1 포인트
    </div>

  </div>
</div>
<div class="modal-footer">
  <div class="status hide"></div>
  <a href="#" class="btn" data-dismiss="modal">닫기</a>
  {{^owned}}
  <button class="btn btn-success purchase" data-target="{{ id }}" data-loading-text="처리중 ...">구입하기</button>
  {{/owned}}
</div>

{% endraw %}
</script>

<script type="text/html" id="_template-option">
{% raw %}
  
  <div class="options">
    {{#note}}
    <button class="btn btn-mini btn-info note" data-loading-text="Note" data-material="note" data-id="{{id}}">Note</button>
    {{/note}}
    {{#ppt}}
    <button class="btn btn-mini btn-info slide" data-loading-text="Slide" data-material="slide" data-id="{{id}}">Slide</button>
    {{/ppt}}
    <button class="btn btn-mini btn-primary mp3" data-loading-text="MP3" data-material="mp3" data-id="{{id}}">MP3</button>    
  </div>

{% endraw %}
</script>

{% endblock %}

{% block setupjs %}
Store.purchase.setup();
{% endblock %}